.pink {
  background-color: $light-pink;
  font-weight: 700;
  padding: 10px;
  width: 100%;
  margin-top: 15px;
  border-radius: 25px;
  max-width: 360px;
}



.dark-pink {
  background-color: $dark-pink;
  font-weight: 700;
  padding: 10px;
  width: 100%;
  margin-top: 15px;
  border-radius: 25px;
  color: $white;
}



.likebtns-container {
  position: fixed;
  bottom: 10%;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  button {
    margin: 0 25px;
    font-size: 2rem;
    padding: 5px 15px;
    color: $dark-pink;
    background-color: $white;
    border-radius: 50%;
    @extend %box-shadow;
    path, svg {
      color: $dark-pink;
    }
  }
  .reject-btn {
    padding: 5px 20px 10px 20px;
  }
}

.all-btn {
  position: fixed;
  top: 16px;
  left: 5%;
  z-index: 1;
}

.current-location-btn {
  transform: translateY(-60px);
  margin: 0 auto;
  z-index: 1;
  background-color: $white;
  font-weight: 500;
  padding: 7px;
  width: 250px;
  margin-top: 15px;
  border-radius: 25px;
  @extend %box-shadow;
  @include flex-center(row);
}

.location-previous, .skip-btn {
  margin-top: 20px;
}

.small-btn {
  width: 100px;
  font-size: 0.7rem;
}

.delete-profile-btn {
  margin-bottom: 60px;
  max-width: 360px;
}

.seed-btn {
  position: absolute;
  margin-left: 60%;
}

@media screen and (min-width: 600px) {
  .all-btn {
    top: 50px;
    left: 10%;
  }
  .likebtns-container {
    max-width: 700px;
  }
}
