.image-upload-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px dashed $dark-pink;
  input[type=file] {
    display: none;
  }
  .add-image-btn{
    color: $dark-pink;
    font-size: 2rem;
  }
}

