.map-container {
  height: 400px;
  width: 300px;
  @extend %box-shadow;
  margin: 0 auto;
}

.search-options-container {
  position: absolute;
  transform: translateY(140px);
  z-index: 1;
  width: 350px;
  background-color: $white;
  border: 1px solid $light-grey;
  border-radius: 0 0 5px 5px;
  @extend %box-shadow;
  .search-options {
    border-top: 1px solid $light-grey;
    padding: 3px;
  }
}

.edit-options {
  transform: translateY(-20px);
  width: 90%;
}

.location-text {
  font-size: 1.3rem;
  margin-bottom: 10px;
}