.navbar-container {
  position: sticky;
  top: 94.6vh;
  background: $txt-color;
  padding: 15px 0;
  path {
    color: lighten($txt-color, 50%);
  }
  .highlight {
    path{
      color: lighten($txt-color, 90%)
    }
  }
}

@media screen and (min-width: 450px){
  .navbar-container{
    top: 0px;
  }
}
