.form-main {
  min-height: 100vh;
  top: 0px;
  background-color: $white;
  @include flex-center(column);
  justify-content: flex-start;
  form {
    margin: 100px 30px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    label {
      font-family: 'Source Serif Pro', serif;
      font-size: 2rem;
      margin: 20px 0;
    }
    input:not(input[type=submit]) {
      border-bottom: 1px solid $dark-pink;
      font-size: 1.5rem;
      margin-bottom: 20px;
    }
    input[type=submit] {
      margin-top: 50px;
    }
  }
  
}