.text-container {
  background-color: $white;
  width: 360px;
  h3 {
    font-family: 'Source Serif Pro', serif;
    font-weight: 900;
    font-size: 1.5rem;
    padding-top: 10px;
  }
}

.info-container {
  background-color: $white;
}