.wyr-main {
  min-height: 95vh;
  background-color: $white;
  padding: 0 20px;
  .question-answer-container {
    @include flex-center(column);
    height: 60vh;
    .question-container {
      justify-self: center;
      border: 1px solid $light-grey;
      @extend %box-shadow;
      h3 {
        font-family: 'Source Serif Pro', serif;
        font-weight: 900;
        font-size: 1.5rem;
        padding-top: 10px;
      }
    }
  }
  
}
