@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&family=Source+Serif+Pro:wght@600&display=swap');
@import './variables.scss';
@import './components/navbar.scss';
* {
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 500;
  color: $txt-color;
}

.map-container {
  height: 60vh;
  width: 60vh;
}
.main {
  min-height: 100vh;
}
.likeprofile-container {
  position: sticky;
  bottom: 10%;
  background: white;
}