@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&family=Source+Serif+Pro:wght@600;700;900&display=swap');
@import './variables.scss';
@import './components/navbar.scss';
@import './components/profile.scss';
@import './components/textContainers.scss';
@import './components/imageUpload.scss';
@import './components/editProfile.scss';
@import './components/buttons.scss';
@import './components/home.scss';
@import './components/register-login.scss';
@import './components/location.scss';

* {
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 500;
  color: $txt-color;
}


.main {
  min-height: 100vh;
  @include flex-center(column);
  top: 0px;
  background-color: $light-grey;

}

button {
  font-family: 'IBM Plex Sans', sans-serif;
}




